################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScoreFinder.Controller/obj
/ScoreFinder.Controller/Properties
/ScoreFinder.Core/bin/Debug/netcoreapp3.1
/ScoreFinder.Core/obj
/ScoreFinder.Infra/bin/Debug/netcoreapp3.1
/ScoreFinder.Infra/obj
/.vs/ScoreFinder
/ScoreFinder.Mock/obj
/ScoreFinder.Controller/bin/Debug/netcoreapp3.1
/ScoreFinder.Crawler/bin/Debug/netcoreapp3.1
/ScoreFinder.Crawler/obj
/ScoreFinder.Mock/bin/Debug/netcoreapp3.1
/ScoreFinder.Testes/bin/Debug/netcoreapp3.1
/ScoreFinder.Testes/obj
/ScoreFinder.Presentation.Telegram/bin/Debug/netcoreapp3.1
/ScoreFinder.Presentation.Telegram/obj
/ScoreFinder.Presentation.Telegram/Properties
/ScoreFinder.Controller/Crawler/netcoreapp3.1/runtimes
/ScoreFinder.Controller/Crawler/netcoreapp3.1
/ScoreFinder.Controller/bin/Release/netcoreapp3.1
/ScoreFinder.Core/bin/Release/netcoreapp3.1
/ScoreFinder.Crawler/bin/Release/netcoreapp3.1
/ScoreFinder.Infra/bin/Release/netcoreapp3.1
/ScoreFinder.Mock/bin/Release/netcoreapp3.1
/ScoreFinder.Presentation.Telegram/bin/Release/netcoreapp3.1
/ScoreFinder.Testes/bin/Release/netcoreapp3.1
